<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Fjalla+One&amp;display=swap"rel="stylesheet')
        link(rel="stylesheet", href="stylesheets/style.css" type="text/css")
        
    body
        //- https://dribbble.com/shots/7319599-Book-Reviews-Website-Profile-Page

        .wrapper
            .left
                .option
                    .brand
                    h3 Search
                    h3 Contact
                    h3 About
                .info
                    .photo
                    .text
                        h2 Raiden Lin
                        .icon
                            a(href="").fab.fa-twitter
                            a(href="").fab.fa-instagram
                            a(href="").fab.fa-medium-m
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
                .bottom
                    .ball
                    
            .medium
                .option 
                    h3 <- Back to Review
                    h1 98 Reviews
            .right
                .option
                    h3 Raiden's genres
                ul
                    li fiction
                    li nonfiction
                    li historical fiction
                    li biography
                    li psychology
                    li science
                    li education
                    li art
                    li joutnal
                    li memoir
